<div role="navigation" class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0px; min-height: 30px;">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="/" analytics-on class="navbar-brand">カテゴリアンテナ</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</div>
<div role="navigation" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="/" analytics-on>TOP</a></li>
      <li ui-sref-active="active"><a ui-sref="latest" analytics-on>最新記事</a></li>
      <li ui-sref-active="active"><a ui-sref="article_ranking" analytics-on>記事アクセスランキング</a></li>
    </ul>
  </div>
</div>
