# Server
logs
project/project
project/target
target
tmp
.tmp
.history
dist
.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/public
/application-debug.log
*.log
/*.jar

# Front
bower_components
node_modules
typings
.sass-cache
.tscache
/modules/web/ui/**/*.css
/modules/web/ui/**/*.js
/modules/web/ui/**/*.map
tscommand-*.tmp.txt
test-results.xml
