# Server
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/public

# Front
bower_components
node_modules
typings
.sass-cache
.tscache
/ui/**/*.css
/ui/**/*.js
/ui/**/*.map
tscommand-*.tmp.txt
