.article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.article-title-wrapper {
  margin-top: 15px;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
}

.article-thumb-img {
  height: auto;
  width: auto;
  max-width: 100%;
}
