<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/category_nav.html'"></div>

<div class="container">
  <table ng-table="tableParams" class="table">
    <tr ng-repeat="article in $data">
      <td data-title="'日時'" class="text-center" style="width: 120px;">{{article.createdAt | date : 'MM/dd HH:mm'}}</td>
      <td data-title="'タイトル'">
        <a analytics-on ng-href="{{article.url}}" target="_blank" ng-mousedown="clickLogService.postClickLogArticle(article)">{{article.title}}</a>
      </td>
      <td data-title="'サイト'">
        <a analytics-on ng-href="{{article.url}}" target="_blank" ng-mousedown="clickLogService.postClickLogArticle(article)">{{article.siteName}}</a>
      </td>
    </tr>
  </table>

</div>