<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/category_nav.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" ng-repeat="site in sites">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a ng-href="{{site.url}}">{{site.name}}</a>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="article in site.recentArticles">
              <a ng-href="{{article.url}}" target="_blank">
                <span class="article-title">
                  {{article.title}}<span class="badge" ng-repeat="tag in article.tags">{{tag}}</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>