<div class="container grid js-masonry">
  <div class="row" masonry='{ "transitionDuration" : "0.4s", "itemSelector": ".grid-item"}'>
    <div class="grid-item col-md-3 col-sm-4 col-xs-12" masonry-tile ng-repeat="article in articles">
      <div class="thumbnail">
        <a analytics-on ng-href="{{article.url}}"
           target="_blank"
           title="{{article.url}}"
           ng-mousedown="clickLogService.postClickLogArticle(article)">
          <img ng-src="{{article.eyeCatchUrl}}">
        </a>

        <div>
          <a analytics-on ng-href="{{article.url}}"
             target="_blank"
             title="{{article.url}}"
             ng-mousedown="clickLogService.postClickLogArticle(article)">
            {{article.title}}
          </a>
        </div>
        <div>
          <span>{{article.publishedAt | date : 'yyyy/MM/dd HH:mm'}}</span>
          <span>{{article.siteName}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                  boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>