@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tsukaby\/IdeaProjects\/c-antenna\/modules\/web\/ui\/scss\/common\/style\.scss}line{font-family:\000031}}
.article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tsukaby\/IdeaProjects\/c-antenna\/modules\/web\/ui\/scss\/common\/style\.scss}line{font-family:\000038}}
.article-title-wrapper {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tsukaby\/IdeaProjects\/c-antenna\/modules\/web\/ui\/scss\/common\/style\.scss}line{font-family:\0000312}}
.navbar-brand {
  float: left;
  font-size: 18px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tsukaby\/IdeaProjects\/c-antenna\/modules\/web\/ui\/scss\/common\/style\.scss}line{font-family:\0000320}}
.article-thumb-img {
  height: auto;
  width: auto;
  max-width: 100%;
}
